.button
{
    font: inherit;

    display: block;

    width: auto;
    margin: 10px auto;
    padding: 5px 30px;

    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: inherit;
    border: 3px solid #10689a;
    background: #10689a;
    border-color: #fefefe;
}

.button:hover,
.button:focus
{
    background: #1478b1;
}

